# ==========================================================
# Financial Modeling Prep
# ==========================================================

FMP_API_KEY=sua_chave_api_fmp_aqui
FMP_BASE_URL=https://financialmodelingprep.com/stable

# Endpoints
FMP_INCOME_STATEMENT_ENDPOINT=/income-statement
FMP_BALANCE_SHEET_ENDPOINT=/balance-sheet-statement
FMP_CASH_FLOW_ENDPOINT=/cash-flow-statement
FMP_PROFILE_ENDPOINT=/profile
FMP_QUOTE_ENDPOINT=/quote

# Default Symbol
DEFAULT_SYMBOL=MSFT

# ==========================================================
# Google BigQuery
# ==========================================================

GOOGLE_APPLICATION_CREDENTIALS=credenciais/chave_conta_servico.json
GCP_PROJECT_ID=seu_gcp_project_id

BQ_DATASET_LANDING=landing
BQ_DATASET_BRONZE=bronze
BQ_DATASET_SILVER=silver
BQ_DATASET_GOLD=gold

# ==========================================================
# Application
# ==========================================================

LOG_LEVEL=INFO
ENVIRONMENT=development
